
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/opt/ldraw/software/lddp/lddesignpad.exe
Name[es_ES]=LDDesignPad
Name=LDDesignPad
Icon=/opt/ldraw/software/iconos/linux/ruta.png
