[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/opt/ldraw/software/linux-scripts/ldview-lego.sh
Name=LDView Lego
Comment=Visor Lego 3D
Icon=/usr/share/pixmaps/LDView.png
Categories=Tente3D;Graphics;3DGraphics;RasterGraphics