[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/opt/ldraw/software/linux-scripts/ldview-exincastillos.sh
Name=LDView Exin Castillos
Comment=Visor Exin Castillos 3D
Icon=/opt/ldraw/software/iconos/linux/ldviewexincastillos.png
Categories=Tente3D;Graphics;3DGraphics;RasterGraphics