[Desktop Entry]
Version=1.0
Name=LeoCAD Lego
Comment=Create virtual LEGO models
Comment[es]=Crea modelos virtuales LEGO
Exec=leocad -l /opt/ldraw/lego/ %f
Terminal=false
Type=Application
Icon=/opt/ldraw/software/iconos/linux/leocadlego.png
MimeType=application/vnd.leocad;application/x-ldraw;application/x-multi-part-ldraw;application/x-ldlite;
Categories=Graphics;3DGraphics;Education;
Keywords=CAD;LEGO;LDraw;

