[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/opt/ldraw/software/linux-scripts/MLCad-exincastillos.sh
Comment[es_ES]=Editor de Exin Castillos virtual
Name[es_ES]=MLCAD Exin Castillos
Name=MLCAD Exin Castillos
Comment=Editor de Exin Castillos virtual
Icon=/opt/ldraw/software/iconos/linux/mlcadexincastillos.png
Categories=Tente3D;Graphics;3DGraphics;RasterGraphics