[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/opt/ldraw/software/linux-scripts/MLCad-lego.sh
Comment[es_ES]=Editor de Lego virtual
Name[es_ES]=MLCAD Lego
Name=MLCAD Lego
Comment=Editor de Lego virtual
Icon=/opt/ldraw/software/iconos/linux/mlcadlego.png
Categories=Tente3D;Graphics;3DGraphics;RasterGraphics